@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 12px 12px rgba(0,0,0,0.15);
}
.card{
    text-align: center;
    padding: 2rem;
    margin: 1.5rem;
}
.card img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.card h2{
    color: #000;
}
.card p{
    color: green;
}
.btn{
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 12px;
    margin-top: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: #333;
}